<% layout("/layouts/boilerplate") %>   


 
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BanglaBatash BNB</title>
    <link rel="stylesheet" href="public/style.css">
</head> -->
<body>
    <h2> Available Listings </h2>
    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
      <ul>
         <p>
            <% for (let x of allListings) { %> 
                 <li><a href="/listings/<%= x._id %>"><%= x.title %></a> </li> 
                 <li><a href="/listings/<%= x._id %>"><%= x.title %></a> </li> 
            <% }  %>
         </p>
      </ul>
</body>
<!-- </html> -->



